body{
	background-color: #f5f5f5;
}
.navbar-brand img{
	height: 150%;
	width: 150%;
	padding: 0;
	margin: 0;
}
  /* Tooltip */
.test + .tooltip > .tooltip-inner {
  background-color: #efcc2f;
  color: #FFFFFF;
  border: 1px solid #efcc2f;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}
/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid green;
}
/* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid #efcc2f;
}
/* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
  border-left: 5px solid red;
}
/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid black;
}
@media screen and (max-width: 520px) {
	#input-search{width: 200px !important;}
}
.container-iice{
	background-color: #fff;
	padding: 0;
}
.navbar.navbar-default{
	margin-bottom: 0 !important;
}
.card #card-img{
	width: 100% !important;
	height: 100px;
}
